<h1>Edit Test Sequence Step</h1>
<%= form_for @step do |f| %>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'Other Vendor URL' %>
    </div>
    <div class="field-unit__field test_seq_step_field-unit__field">
      <%= f.text_field :out_url %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'ESB URL' %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :esb_url, value: @step.test_seq_step.esb_url, :readonly => true %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'Harness URL' %>
    </div>
    <div class="field-unit__field">
      <%= f.text_field :harness_url, value: @step.test_seq_step.harness_url, :readonly => true %>
    </div>
  </div>
  <div class="field-unit field-unit--string">
    <div class="field-unit__label">
      <%= f.label 'Swap Corrid Flag' %>
    </div>
    <div class="field-unit__field">
      <%= f.check_box :swap_corrid_flag, value: @step.test_seq_step.swap_corrid_flag, :readonly => true %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>