<h1><%= @page_title %></h1>
<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <td><%= link_to 'Back', :back, class: "button" %></td>
  </div>
</header>
<h3>Message</h3>
<p>ID: <%= @log.message_log_id%></p>
<p>Message Name: <%= @log.message.name %></p>
<p>Create Date: <%= @log.create_date %></p>
<p>Stage: <%= @log.stage %></p>
<p>ResultCode: <%= @log.resultCode %></p>
<p>Message ID: <%= @log.messageId %></p>
<p>Correlation ID: <%= @log.correlationID %></p>
<p>Address: <%= @log.address %></p>
<p>Content Type: <%= @log.contentType %></p>
<p>Fault Code: <%= @log.faultCode %></p>
<p>Encoding: <%= @log.encoding %></p>
<p>httpMethod: <%= @log.httpMethod %></p>
<p>Response Code: <%= @log.responseCode %></p>
<p>Result Code: <%= @log.resultCode %></p>
<p>Operation: <%= @log.operation %></p>
<p>Payload: <%= @log.payload %></p>